body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../assets/bg.jpg');
    background-size: 100% auto;  /* Ajustar al ancho completo */
    background-repeat: repeat-y;  /* Repetir verticalmente */
    background-position: center;
    background-attachment: scroll;
}

html, body {
    height: 100%;
}

#root {
    min-height: 100vh;
}

.navbar .container-fluid {
    background: linear-gradient(to right, #7c298c, #000000);
    padding: 15px 30px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.navbar-brand {
    margin: 0 !important; 
}

.navbar-brand img {
    width: 250px;
    height: 120px;
    object-fit: contain;
}

#logo {
    border-radius: 15px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.cssbuttons-io {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
  margin-right: 20px;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 0.2em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 140%;
  left: -20%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}